/* This entire stylesheet is a bunch of dirty, low, no-good, godawful, and atrocious hacks that should be replaced as soon as possible. 

This stylesheet is an act of blasphemy against the Web Development Gods, and is only here as a temporary stopgap, not a permanent fixture. */


.parens::before {
	content: '(';
}

.parens::after {
	content: ')';
}

.program {
	font-style: italic;
}

.subjects_broadcast::after {
	content: " on\00a0 ";
}

.type::before {
	content: "in an ";
}

.auths::before {
	content: "by ";
}

.headline::before {
	content: "\"";
}

.headline::after {
	content: "\"";
}

.scholar_broadcast::before {
	content: '\00a0';
}

.scholar_broadcast::after {
	content: " discusses ";
}
